<h1>PAYMENT</h1>

<form action="/process_url/payment/new">
  <label for="apr_id">APR: </label>
  <input id="apr_id" type="text" name="apr">
   <label for="year_id">Number Of Years: </label>
  <input id="year_id" type="text" name="year">
   <label for="prinicpal_id">Principal: </label>
  <input id="principal_id" type="text" name="principal">
  <button>Calculate Monthly Payment</button>
</form>
