<h1>SQUARE</h1>

<form action="/process_url/square/new">
  <label for="min_id">Enter a number: </label>
  <input id="square_id" type="text" name="square">
  <button>Calculate Square</button>
</form>


