<h1>SQUARE Root</h1>

<form action="/process_url/square_root/new">
  <label for="square_id">Enter a number: </label>
  <input id="square_id" type="text" name="square">
  <button>Calculate Square Root</button>
</form>
